body {
  background-color: white;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 18px;
  width: 900px;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid lightgrey;  
}

header{
	height: 100px;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
}

nav{
	height: 25px;
	border-bottom: 1px solid grey;
}

footer{
	margin-top: 15px;
	height: 25px;
	border-top: 1px solid grey;
}

h1{
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}

h2{
	font-size: 2em;
	text-align: center;
}

h3{
	font-size: 1.4em;
	text-align: left;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #000; }
  &:hover {
    color: #fff;
    background-color: #000; } }

select{
	width: 125px;
}

div.actions {
    margin-bottom: 10px;
}

div.field{
	float: left;
	width: 150px;
	text-align: left;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

.logo{
	margin: 0;
	left: 10px;
	top: 10px;
	width: 150px;
	height: 150px;
	display: block;
	position: fixed;
}

div.stats{
	left:10px;
	top:160px;
	font-size: 0.8em;
	font-weight: bold;
	font-family: Courier, Arial, Sans-Serif;
	display: block;
	position: fixed;
}
